<!doctype html>
<html lang="en-US">
        <link rel="stylesheet" type="text/css" href="contactpage.css" />
    <head>
        <title>Contact Information</title>
    </head>
    <header align="left">Jacob McCullough</header>
    <body>
        <nav>
                <ul>
                    <li><a href='file:///C:/Users/s527825/44563/A01(McCullough,Jacob)/index.html#'>Home Page</a></li>
                    <li><a href='file:///C:/Users/s527825/44563/A01(McCullough,Jacob)/Tic-Tac-Toe.html'>Tic Tac Toe</a></li>
                    <li><a href='file:///C:/Users/s527825/44563/A01(McCullough,Jacob)/Contact.html'>Contact Me</a></li>
                </ul>
            </nav>

            <a href="https://github.com/razorwired1124/A01-McCullough_Jacob">Jacob's GitHub account</a>
            <a href="https://bitbucket.org/razorwired1124/">Jacob's BitBucket account</a>
            <a href="https://www.linkedin.com/in/jacob-mccullough-b54590149/">Jacob's LinkedIn account</a>
            

    
            <div class="container">
                    <form action="action_page.php">
                  
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Enter your name">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Enter your last name">
                  
                      <label for="E-mail">E-Mail</label>
                      <input type="text" id="lname" name="E-mail" placeholder="Enter your e-mail">

                      <label for="Phone #">Phone Number</label>
                      <input type="text" id="Phone" name="Phone Number" placeholder="Enter your Phone Number">

                      <label for="subject">Subject</label>
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                  
                      <input type="submit" value="Submit">
                  
                    </form>
                  </div>

    </body>


</html>